body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(pexels-suvan-chowdhury-144428.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.showcase:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}



.showcase:hover .content{
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 100ms;
}
.content.logo {
    height: 180px;
    width: 180px;
}

.content.title {
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content.text{
    line-height: 1.7;
    margin-top: 1rem;
}

.container {
    /*max-width: 960px;*/
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0.5rem 1rem;
}


.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;

}

.center {
    text-align: center;
    margin: auto;
}

.b-light {
    background: #f4f4f4;
    color: #333;
}
.b-dark {
    background: #333;
    color: #f4f4f4;
}
footer {
    padding: 2.2rem;
}
footer p{
    margin: 0;
}
form {
    border: 3px solid #f1f1f1;
  }
  

  nav {
      height: 70px;

  }
  /* Set a style for all buttons*/
  .style-button {
    background-color: #31886a;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.5;
    font-size: 20px;
    margin-right: 5%;
  }

  .style-button2 {
    text-decoration: none;
    color: rgb(213, 213, 213);
    font-family: "Poppins", sans-serif;
    border: 2px solid rgb(118, 139, 139);
    transition: 250ms ease-in-out;
    border-radius: 1px;
    background: rgb(80, 80, 80);
    margin-left: 30px;
    cursor: pointer;
    width: 40%;
    font-size: 20px;
    border-radius: 15px;
  }
  /* Add a hover effect for buttons */
  .style-button:hover {
    opacity: 1;
 }
 .buttons {
     padding: 20px 0px 0px 85% ;
 }

 .style-button2:hover {
    background: rgb(148, 149, 149);
    color: #1e272e;
    box-shadow: 0 0 10px rgb(86, 91, 91),
                0 0 40px rgb(99, 103, 103),
                0 0 80px rgb(98, 104, 104);
  }
